[Unit]
Description=M-Gateway

[Service]
WorkingDirectory=/opt/mgw/apps/
ExecStart=/opt/mgw/apps/start.sh
SyslogIdentifier=mgw
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target