[Unit]
Description=M-Gateway

[Service]
WorkingDirectory=/opt/mgw_BBAI/apps/
ExecStart=/opt/mgw_BBAI/apps/start.sh
SyslogIdentifier=mgw_BBAI
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
